server:
  port: 8081

spring:
  application:
    name: StackScout
  
  profiles:
    active: dev
  
  datasource:
    url: jdbc:postgresql://localhost:5432/stackscout
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        '[format_sql]': true
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  
  data:
    redis:
      host: localhost
      port: 6379
      password: 
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  
  cache:
    type: redis
    redis:
      time-to-live: 3600000

logging:
  level:
    root: INFO
    '[com.stackscout]': DEBUG
