spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/stackscout
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        "[format_sql]": true

  flyway:
    enabled: true

  cache:
    type: redis
    
  data:
    redis:
      host: localhost
      port: 6379
      
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
